<!-- HEADER-3
============================================= -->
<header id="header-3" class="header navik-header header-transparent header-shadow">
	<div class="container">


		<!-- NAVIGATION MENU -->
		<div class="navik-header-container">


			<!-- LOGO IMAGE -->
			<div class="logo" data-mobile-logo="assets/images/logo-01.png" data-sticky-logo="assets/images/logo-01.png">
				<a routerLink="/"><img src="assets/images/logo-01.png" alt="header-logo"/></a>
			</div>


			<!-- BURGER MENU -->
			<div class="burger-menu">
				<div class="line-menu line-half first-line"></div>
				<div class="line-menu"></div>
				<div class="line-menu line-half last-line"></div>
			</div>


			<!-- MAIN MENU -->
			<nav class="navik-menu menu-caret navik-yellow">
				<ul class="top-list">
					<!-- DROPDOWN MENU -->
					<li><a href="#">Toeram-pisakafona</a></li>

					<!-- DROPDOWN MENU -->
					<li><a href="#">Momba anay</a></li>

					<!-- MEGA MENU -->
					<!--<li class="mega-menu"><a href="#">Megamenu</a>
						<ul>
							<li>

								&lt;!&ndash; Mega menu container &ndash;&gt;
								<div class="mega-menu-container">
									<div class="row">

										&lt;!&ndash; Column &ndash;&gt;
										<div class="col-md-6 col-lg-4">

											<div class="mega-menu-box">
												<div class="mega-menu-media">
													<div class="mega-menu-media-img">
														<div class="mega-menu-thumbnail">
															<a href="blog-listing">
																<img src="assets/images/img-05.jpg" alt="thumbnail"/>
															</a>
														</div>
													</div>
													<div class="mega-menu-media-info">
														<h4 class="mega-menu-heading"><a href="blog-listing">Aliquam and
															lobortis...</a></h4>
														<div class="mega-menu-desc">
															Donec nec faucibus lobortis viverra blandit sem justo
														</div>
													</div>
												</div>
											</div>

											<div class="mega-menu-box">
												<div class="mega-menu-media">
													<div class="mega-menu-media-img">
														<div class="mega-menu-thumbnail">
															<a href="blog-listing">
																<img src="assets/images/img-01.jpg" alt="thumbnail"/>
															</a>
														</div>
													</div>
													<div class="mega-menu-media-info">
														<h4 class="mega-menu-heading"><a href="blog-listing">Donec neca
															faucibus...</a></h4>
														<div class="mega-menu-desc">
															Aliquam ultrices ullamcoroe ultrices gravida dictum
														</div>
													</div>
												</div>
											</div>

											<div class="mega-menu-box last-menu-box">
												<div class="mega-menu-media">
													<div class="mega-menu-media-img">
														<div class="mega-menu-thumbnail">
															<a href="blog-listing">
																<img src="assets/images/img-07.jpg" alt="thumbnail"/>
															</a>
														</div>
													</div>
													<div class="mega-menu-media-info">
														<h4 class="mega-menu-heading"><a href="blog-listing">Lobortis
															sem mauris...</a></h4>
														<div class="mega-menu-desc">
															Integer aliquet magna neca tellus orci quis semper
														</div>
													</div>
												</div>
											</div>

										</div>

										&lt;!&ndash; Column &ndash;&gt;
										<div class="col-md-6 col-lg-4">

											<div class="mega-menu-box">
												<div class="mega-menu-media">
													<div class="mega-menu-media-img">
														<div class="mega-menu-thumbnail">
															<a href="blog-listing">
																<img src="assets/images/img-08.jpg" alt="thumbnail"/>
															</a>
														</div>
													</div>
													<div class="mega-menu-media-info">
														<h4 class="mega-menu-heading"><a href="blog-listing">Fusce
															semper aliquet...</a></h4>
														<div class="mega-menu-desc">
															Laoreet tellus a consectetur bibendum dolor posuere
														</div>
													</div>
												</div>
											</div>

											<div class="mega-menu-box">
												<div class="mega-menu-media">
													<div class="mega-menu-media-img">
														<div class="mega-menu-thumbnail">
															<a href="blog-listing">
																<img src="assets/images/img-09.jpg" alt="thumbnail"/>
															</a>
														</div>
													</div>
													<div class="mega-menu-media-info">
														<h4 class="mega-menu-heading"><a href="blog-listing">Aliquam
															libero ipsum...</a></h4>
														<div class="mega-menu-desc">
															Sollicitudin ut gravida libero commodo sit malesuada
														</div>
													</div>
												</div>
											</div>

											<div class="mega-menu-box last-menu-box">
												<div class="mega-menu-media">
													<div class="mega-menu-media-img">
														<div class="mega-menu-thumbnail">
															<a href="blog-listing">
																<img src="assets/images/img-10.jpg" alt="thumbnail"/>
															</a>
														</div>
													</div>
													<div class="mega-menu-media-info">
														<h4 class="mega-menu-heading"><a href="blog-listing">Posuere
															himenaeos...</a></h4>
														<div class="mega-menu-desc">
															Porta gravida hendrerit vitae blandit in phasellus ipsum
														</div>
													</div>
												</div>
											</div>

										</div>

										&lt;!&ndash; Column &ndash;&gt;
										<div class="col-lg-4">

											<div class="mega-menu-box last-menu-box">
												<div class="mega-menu-thumbnail">
													<a href="blog-listing">
														<img src="assets/images/img-26.jpg" alt="thumbnail"/>
													</a>
												</div>
												<h4 class="mega-menu-heading"><a href="blog-listing">Etiam semper
													mauris...</a></h4>
												<div class="mega-menu-desc">
													Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor
													primis libero
													tempus, blandit a cursus varius magna
												</div>
											</div>

										</div>

									</div>
								</div>

							</li>
						</ul>
					</li> -->   <!-- END MEGA MENU -->

					<!-- DROPDOWN MENU -->
					<li><a href="#">Hamela hafatra</a>

					</li>

					<!-- BASKET ICON -->
					<li class="basket-ico ico-30">
						<a href="cart">
							<span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
						</a>
					</li>

					<!-- HEADER BUTTON  -->
					<li class="nav-btn yellow-color"><a class="" href="">Hiditra</a></li>
				</ul>
			</nav>    <!-- END MAIN MENU -->


		</div>    <!-- END NAVIGATION MENU -->


	</div>     <!-- End container -->
</header>    <!-- END HEADER-3 -->
