<!-- HERO-2
			============================================= -->
<section id="hero-2" class="bg-fixed hero-section division">
	<div class="bg-fixed bg-inner division">


		<!-- HERO TEXT -->
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="hero-2-txt text-center">

						<!-- Title -->
						<h2 class="red-color shadow-txt-white">'ndao amzay E-kaly</h2>

						<!-- Image -->
						<div class="hero-2-img">

							<img class="img-fluid" src="assets/images/home/hero-fast-food.png" alt="hero-image" width="600">

						</div>

					</div>
				</div>
			</div>     <!-- End row -->
		</div>     <!-- END HERO TEXT -->


		<!-- SECTION OVERLAY -->
		<div class="bg-fixed white-overlay-wave"></div>


	</div>       <!-- End Bg Inner -->
</section>    <!-- END HERO-2 -->


<!-- PROMO-2
	============================================= -->
<section id="promo-2" class="pt-100 promo-section division">
	<div class="container">
		<div class="row d-flex align-items-center">


			<!-- PROMO BOX-1 -->
			<div class="col-md-6 col-lg-5">
				<div id="pb-2-1" class="pbox-2 bg-fixed">
					<div class="pbox-2-txt brown-color">

						<h4 class="h4-lg txt-300">Get Your Free</h4>
						<h4 class="h4-xl">Cheese Fries</h4>

					</div>
				</div>
			</div>


			<!-- PROMO BOX-2 -->
			<div class="col-md-6 col-lg-7">
				<div id="pb-2-2" class="pbox-2 bg-fixed">
					<div class="pbox-2-txt brown-color">

						<h4 class="h4-lg txt-300">Crispy Chicken</h4>
						<h4 class="h4-xl">Burger Is Back!</h4>

					</div>
				</div>
			</div>


		</div>    <!-- End row -->
	</div>       <!-- End container -->
</section>    <!-- END PROMO-2 -->

<!-- BLOG-1
============================================= -->
<section id="blog-1" class="wide-60 blog-section division"  *ngIf="restaurantList.length > 0">
	<div class="container">


		<!-- SECTION TITLE -->
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="section-title mb-60 text-center">

					<!-- Title 	-->
					<h2 class="h2-xl red-color">Ireo fikaliana</h2>

					<!-- Text -->
					<p class="p-xl">
						Ireto avy ireo toeram-pisakafona miara-miasa aminay.
					</p>

				</div>
			</div>
		</div>


		<!-- BLOG POSTS HOLDER -->
		<div class="row">
			<!-- BLOG POST #1 -->
			<div *ngFor="let item of restaurantList" class="col-md-6 col-lg-4">
				<div class="blog-post">

					<!-- BLOG POST IMAGE -->
					<div class="blog-post-img">
						<div class="hover-overlay">
							<img class="img-fluid" src="assets/images/blog/img-01.jpg" alt="blog-post-image"/>
						</div>
					</div>

					<!-- BLOG POST TITLE -->
					<div class="blog-post-txt">

						<!-- Post Title -->
						<h5 class="h5-lg"><a appClickStopPropagation href="" (click)="goTo(item, 'restaurant')">{{item.name}}</a></h5>

						<!-- Post Text -->
						<p class="grey-color">{{item.description}}</p>

					</div>

				</div>
			</div>    <!-- END  BLOG POST #1 -->

		</div>    <!-- END BLOG POSTS HOLDER -->


	</div>       <!-- End container -->
</section>    <!-- END BLOG-1 -->



<!-- SECTION TITLE -->
<div class="row">
	<div class="col-lg-10 offset-lg-1">
		<div class="section-title text-center">

			<!-- Title 	-->
			<h2 class="h2-xl red-color">❤ Ireo kaly tena be mpitia ❤</h2>

			<!-- Text -->
			<p class="p-xl">
				Ireto avy ireo sakafo tena be mpitia sy mpividy eto aminay.
			</p>

		</div>
	</div>
</div>
<!-- MENU-6
============================================= -->
<section id="menu-6" class="wide-70 menu-section division">
	<div class="container">
		<div class="row">


			<!-- MENU ITEM #1 -->
			<div *ngFor="let item of dishList" class="col-sm-6 col-lg-3">
				<div class="menu-6-item bg-white">

					<!-- IMAGE -->
					<div class="menu-6-img rel">
						<div class="hover-overlay">

							<!-- Image -->
							<img class="img-fluid" src="assets/images/menu/burger-11.jpg" alt="menu-image"/>

							<!-- Item Code -->
							<span class="item-code bg-tra-dark">Code: 0850</span>

							<!-- Zoom Icon -->
							<div class="menu-img-zoom ico-25">
								<a href="assets/images/menu/burger-11.jpg" class="image-link">
									<span class="flaticon-zoom"></span>
								</a>
							</div>

						</div>
					</div>

					<!-- TEXT -->
					<div class="menu-6-txt rel">

						<!-- Rating -->
						<div class="item-rating">
							<div class="stars-rating stars-lg">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</div>
						</div>

						<!-- Like Icon -->
						<div class="like-ico ico-25">
							<a href="#"><span class="flaticon-heart"></span></a>
						</div>

						<!-- Title -->
						<h5 class="h5-sm"><a href appClickStopPropagation (click)="goTo(item, 'dish')">{{item.name}}</a></h5>

						<!-- Description -->
						<p class="grey-color">{{item.description | slice:0:20}}...</p>

						<!-- Price -->
						<div class="menu-6-price bg-coffee">
							<h5 class="h5-xs yellow-color">{{item.price}} Ar</h5>
						</div>

						<!-- Add To Cart -->
						<div class="add-to-cart bg-yellow ico-10">
							<a href="" appClickStopPropagation (click)="addToCart(item)"><span class="flaticon-shopping-bag"></span> Add to Cart</a>
						</div>

					</div>

				</div>
			</div>    <!-- END MENU ITEM #1 -->



		</div>      <!-- End row -->
	</div>       <!-- End container -->
</section>    <!-- END MENU-6 -->





<!-- PROMO-11
============================================= -->
<section id="promo-11" class="bg-fixed promo-section division">
	<div class="container">
		<div class="row d-flex align-items-center">


			<!-- PROMO TEXT -->
			<div class="col-md-5 col-lg-4">
				<div class="pbox-11-txt mb-40 white-color">

					<!-- Title -->
					<h3 class="h3-lg">The</h3>
					<h2>County General</h2>

					<!-- Text -->
					<p class="p-md">Semper lacus cursus porta a primis feugiat ligula risus auctor rhoncus semper
						undo</p>

					<!-- Button -->
					<a href="product-single.html" class="btn btn-lg btn-red tra-white-hover">Order Now</a>

				</div>
			</div>


			<!-- PROMO IMAGE -->
			<div class="col-md-7 col-lg-6">
				<div class="pbox-11-img mb-40">

					<!-- Image -->
					<img class="img-fluid" src="assets/images/home/hero-food.png" alt="promo-image"/>
				</div>
			</div>


			<!-- PROMO LINKS -->
			<div class="col-lg-2">

				<!-- Link -->
				<div class="pbox-11-link text-center white-color">
					<a href="product-single.html">
						<img class="img-fluid" src="assets/images/menu/burger-02.png" alt="promo-image"/>
						<p>Ultimate Bacon Burger</p>
					</a>
				</div>

				<!-- Link -->
				<div class="pbox-11-link text-center mb-40 white-color">
					<a href="product-single.html">
						<img class="img-fluid" src="assets/images/menu/burger-05.png" alt="promo-image"/>
						<p>Grilled Chicken Burger</p>
					</a>
				</div>

			</div>


		</div>    <!-- End row -->
	</div>       <!-- End container -->
</section>    <!-- END PROMO-11 -->


<!-- ABOUT-3
============================================= -->
<section id="about-3" class="wide-60 about-section division">
	<div class="container">
		<div class="row d-flex align-items-center">


			<!-- ABOUT IMAGE -->
			<div class="col-md-5 col-lg-6">
				<div class="about-3-img text-center mb-40">
					<img class="img-fluid" src="assets/images/home/hero.png" alt="about-image">
				</div>
			</div>


			<!-- ABOUT TEXT -->
			<div class="col-md-7 col-lg-6">
				<div class="about-3-txt mb-40">

					<!-- Title -->
					<h2 class="h2-sm">Nothing brings people together like a good burger</h2>

					<!-- Text -->
					<p class="p-md">Semper lacus cursus porta primis ligula risus tempus and sagittis ipsum mauris
						lectus laoreet
						purus ipsum tempor enim ipsum porta justo integer ultrice aligula lectus aenean magna and
						pulvinar purus at
						pretium gravida
					</p>

					<!-- List -->
					<ul class="txt-list">

						<li class="list-item">
							<p class="p-md">Fringilla risus, luctus mauris orci auctor purus euismod pretium
								purus pretium ligula rutrum tempor sapien
							</p>
						</li>

						<li class="list-item">
							<p class="p-md">Quaerat sodales sapien euismod purus blandit</p>
						</li>

						<li class="list-item">
							<p class="p-md">Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales
								sapien undo pretium a purus mauris
							</p>
						</li>

					</ul>

				</div>
			</div>    <!-- END ABOUT TEXT -->


		</div>       <!-- End row -->
	</div>       <!-- End container -->
</section>    <!-- END ABOUT-3 -->

<!-- BANNER-4
============================================= -->
<section id="banner-4" class="bg-fixed wide-100 banner-section division">
	<div class="container">
		<div class="row">


			<!-- BANNER TEXT -->
			<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
				<div class="banner-4-txt text-center">

					<!-- Title  -->
					<h4 class="h4-xl">We Guarantee</h4>

					<!-- Title  -->
					<h2>30 Minutes Delivery!</h2>

					<!-- Text -->
					<p class="p-lg">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor primis libero
						tempus,
						blandit a cursus varius luctus neque magna
					</p>

					<!-- Call Button -->
					<a href="tel:123456789" class="btn btn-lg btn-red tra-red-hover">Call: 789-654-3210</a>

				</div>
			</div>


		</div>      <!-- End row -->
	</div>        <!-- End container -->
</section>    <!-- END BANNER-4 -->



