<div class="container pt-20">
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
		<li class="breadcrumb-item active text-warning">Dishes</li>
	</ol>
	<div class="mt-30 pt-20">
		<div class="header">
			<h2 class="title">Dish Detail</h2>
		</div>
		<div class="content">
			<div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
			<form *ngIf="dish" #editForm="ngForm" (ngSubmit)="save()">
				<div class="form-group">
					<label for="name">Name</label>
					<input [(ngModel)]="dish.name" id="name" name="name" class="form-control" [required]="true">
				</div>

				<div class="form-group">
					<label for="description">Description</label>
					<input [(ngModel)]="dish.description" id="description" name="description"
						   class="form-control">
				</div>

				<div class="form-group">
					<label for="price">Price</label>
					<input [(ngModel)]="dish.price" id="price" name="price" class="form-control">
				</div>
				<div class="form-group">
					<label for="restaurantSelect">Restaurants</label>
					<select class="form-control" id="restaurantSelect">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="form-group">
					<label for="contacts">Restaurants</label>
					<input [(ngModel)]="dish.restaurant" id="contacts" name="contacts" class="form-control">
				</div>

				<button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
				<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
			</form>
		</div>
	</div>
</div>

