<!-- PAGE HERO
			============================================= -->
<div id="contacts-page" class="page-hero-section division">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="hero-txt text-center white-color">

					<!-- Title -->
					<h2 class="h2-xl">Hamela hafatra</h2>

				</div>
			</div>
		</div>      <!-- End row -->
	</div>       <!-- End container -->
</div>    <!-- END PAGE HERO -->


<!-- CONTACTS-5
============================================= -->
<section id="contacts-5" class="contacts-section division">
	<div class="container">
		<!-- SECTION TITLE -->
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="section-title mb-40 text-center">

					<!-- Title 	-->
					<h2 class="h2-xl">Hiresaka</h2>

					<!-- Text -->
					<p class="p-xl">
						Raha toa ka hamela hafatra na misy zavatra tiana ifampiresahana dia afaka mandefa izany ianao
						amin'ny alalan'ito taratasy fameno ito.
					</p>

				</div>
			</div>
		</div>


		<!-- CONTACT FORM -->
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="hasError">
					<strong>Oayyyy kosa!</strong> Tsy lasa ny hafatrao fa ialana tsiny. Mamerena mandefa afaka kelikely.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="form-holder">
					<form name="contactform" class="row contact-form" [formGroup]="contactForm">
						<!-- Form Input -->
						<div class="col-md-12 col-lg-6">
							<input type="text" name="name" class="form-control name" placeholder="Anarana*"
								   formControlName="name"
								   [class.is-invalid]="name?.invalid && (name?.dirty || name?.touched)">
						</div>

						<!-- Form Input -->
						<div class="col-md-12 col-lg-6">
							<input type="email" name="email" class="form-control email" placeholder="Adiresy Imailaky*"
								   formControlName="email"
								   [class.is-invalid]="email?.invalid && (email?.dirty || email?.touched)">
						</div>

						<!-- Form Input -->
						<div class="col-md-12">
							<input type="text" name="subject" class="form-control subject"
								   placeholder="Lohateny" formControlName="title"
								   [class.is-invalid]="title?.invalid && (title?.dirty || title?.touched)">
						</div>

						<!-- Form Textarea -->
						<div class="col-md-12">
							<textarea name="message" class="form-control message" rows="6"
									  placeholder="Ny hafatrao ..."
									  formControlName="message"
									  [class.is-invalid]="message?.invalid && (message?.dirty || message?.touched)">
							</textarea>
						</div>

						<!-- Form Button -->
						<div class="col-md-12 mt-5 text-right">
							<button type="submit" class="btn btn-md btn-red submit"
									(click)="sendContactForm()" [disabled]="!contactForm.valid">Alefaso ny hafatra
							</button>
						</div>

						<!-- Form Message -->
						<div class="col-md-12 contact-form-msg text-center">
							<div class="sending-msg"><span class="loading"></span></div>
						</div>

					</form>

				</div>
			</div>
		</div>  <!-- END CONTACT FORM -->


	</div>       <!-- End container -->
</section>    <!-- END CONTACTS-5 -->




