<!-- PAGE HERO
			============================================= -->
<div id="not-found-page" class="page-hero-section division">
	<div class="">
		<div class="row">
			<div class="col">
				<div class="text-center white-color">

					<!-- Title -->

					<div class="d-flex justify-content-center align-items-center">
						<img class="img-fluid" src="assets/images/404/404.png" alt="menu-image"/>
					</div>
					<div class="mt-60">
						<h2 class="h2">Tsy hita</h2>
						<p class="h4">Tsy misy ny rohy kasainao hidirana.</p>
					</div>


				</div>
			</div>
		</div>      <!-- End row -->
	</div>       <!-- End container -->
</div>    <!-- END PAGE HERO -->
