<div class="container-fluid pt-20">
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
		<li class="breadcrumb-item active text-warning">User</li>
	</ol>
	<div class="mt-30 pt-20">
		<div class="header">
			<h2 class="title">User List</h2>
		</div>
		<div class="content">
			<form #f="ngForm">
				<!--
				<div class="form-group">
					<label for="name">Name:</label>
					<input [(ngModel)]="filter.name" id="name" name="name" class="form-control">
				</div>
				-->

				<!--				<button (click)="search()" [disabled]="!f?.valid" class="btn btn-red">Search</button>-->
				<button (click)="new()" class="btn btn-primary btn-block">New</button>
			</form>
		</div>
	</div>
	<div class="mt-10" *ngIf="userList.length > 0">
		<div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
		<div class="table-responsive">
			<table class="table table-centered table-hover mb-0" id="datatable">
				<thead>
				<tr>
					<th class="border-top-0 hidden" scope="col">Id</th>
					<th class="border-top-0" scope="col">Name</th>
					<th class="border-top-0" scope="col">Firstname</th>
					<th class="border-top-0" scope="col">Email</th>
					<th class="border-top-0" scope="col">Address</th>
					<th class="border-top-0" scope="col">Contacts</th>
					<th class="border-top-0" scope="col">Role</th>
					<th class="border-top-0" scope="col">Restaurant</th>
					<th class="border-top-0" scope="col" style="width:120px"></th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let item of userList" [class.active]="item === selectedUser">

					<td class="hidden">{{item._id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.firstname}}</td>
					<td>{{item.email}}</td>
					<td>{{item.address}}</td>
					<td>{{item.contacts}}</td>
					<td>{{item.role}}</td>
					<td>{{item.restaurant}}</td>
					<td style="white-space: nowrap">
						<button (click)="edit(item)" class="btn btn-secondary">Edit</button>&nbsp;
						<button (click)="delete(item)" class="btn btn-danger">Delete</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

